{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": ["plugin:@shopify/esnext", "plugin:@shopify/react", "plugin:@shopify/typescript"]
}