{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/react",
    "plugin:@shopify/typescript",
    "plugin:@shopify/typescript-type-checking"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "images-no-direct-imports": 0
  }
}